@page "/orders"
@using HqSoftSale.Localization;
@using HqSoftSale.Orders;
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using System.Net.Http.Json
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Web.Theming.PageToolbars
@using Volo.Abp.MultiTenancy
@using Microsoft.Extensions.Localization
@inject IOrderAppService OrderAppService
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<HqSoftSaleResource> L
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits AbpCrudPageBase<IOrderAppService, OrderDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateOrderDto>



<Row Spacing="2" xs="1">
    <Span />
    <Column>
    </Column>
    <Column>
    </Column>
    <Column ColumnSize="ColumnSize.Is2" style="@($"padding-top: 23px;")">
        <Button Color="Color.Secondary" Clicked="(()=>DeleteSelectedRows())">
            <Icon Name="IconName.Delete" /> @L["Delete"]
        </Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is2" style="@($"padding-top: 23px;")">

        <Button Color="Color.Primary" Clicked="((e)=>GoToCreatePage())">
            <Icon Name="IconName.Add" /> @L["New"]
        </Button>
    </Column>
</Row>


<Row Style="margin-top:20px">

    <DataGrid TItem="OrderDto"
              Data="@ordersList"
              SortMode="DataGridSortMode.Single"
              SelectionMode="DataGridSelectionMode.Multiple"
              Striped
              Sortable
              ShowPager
              Responsive
              SelectedRows="@selectedRows">
        <DataGridColumns>
            <DataGridMultiSelectColumn TItem="OrderDto" Width="30px">
                <DisplayTemplate>
                    <input type="checkbox" @bind="context.IsSelected" />
                </DisplayTemplate>
            </DataGridMultiSelectColumn>
            <DataGridColumn Field="@nameof(OrderDto.OrderNumber)" Caption="@L["Order Number"]" Context="order">
                <DisplayTemplate>
                    <Link Underline="Underline.Always" Clicked="@(() => GoToEditPage(order))">@order.OrderNumber</Link>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn Field="@nameof(OrderDto.OrderStatus)" Caption="@L["Order Status"]">
            </DataGridColumn>
            <DataGridColumn TItem="OrderDto"
                            Field="@nameof(OrderDto.OrderDate)"
                            Caption="@L["OrderDate"]">
                <DisplayTemplate>
                    @context.CreationTime.ToShortDateString()
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="OrderDto"
                            Field="@nameof(OrderDto.Customer)"
                            Caption="@L["Customer"]">
            </DataGridColumn>
        </DataGridColumns>
        <PageButtonTemplate>
            <Span TextColor="TextColor.Success">
                @context.PageNumber
            </Span>
        </PageButtonTemplate>
        <PageSizesTemplate>
            <Select TextColor="TextColor.Success" @bind-SelectedValue="@context.CurrentPageSize" Size="Size.Small">
                @foreach (var curPageSize in context.PageSizes)
                {
                    <SelectItem Value="@curPageSize">@curPageSize</SelectItem>
                }
            </Select>
        </PageSizesTemplate>
    </DataGrid>
    </Row>